<h1>edit</h1>

<%= form_tag("/posts/update/#{@selected_post.id}", method: "post") do %>
  <%= label_tag(:title, "Title :") %>
  <%= text_field_tag(:title, "#{@selected_post.title}") %>
  <%= label_tag(:content, "Content :") %>
  <%= text_area_tag(:content, "#{@selected_post.content}", size: "24x6") %>
  <%= submit_tag("CREATE") %>
<% end %>
